
      <!-- contact section start -->
      <div class="contact_section layout_padding">
        <div class="container">
          <h1 class="contact_text">Bizimle İletişime Geçin</h1>
        </div>
        <!-- footer section start -->
        <div class="footer_section layout_padding">
          <div style="text-align: center;">
                <h1 class="footer_about">Hakkımızda</h1>
                <p style="color: white;">Biz, 2005 yılında kurulmuş olan bir teknoloji şirketiyiz. Amacımız, müşterilerimize inovasyon ve kalite odaklı çözümler sunmaktır. Teknoloji alanında uzmanlaşmış bir ekip olarak, yazılım geliştirme ve danışmanlık hizmetleri sağlamaktayız.
                  Temel değerleririmiz arasında müşteri memnuniyeti, sürekli öğrenme ve işbirliği bulunmaktadır. Müşterilerimizin iş hedeflerini anlamak, onlara en uygun çözümleri sunmak için önceliğimizdir.</p>
              </div>
        </div>
        <!-- footer section end -->
      </div>
      <!-- contact section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
        <div class="container">
          <p class="copyright">2023 Tüm Hakları Saklıdır.</p>
        </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
   </html>