<!DOCTYPE html>
<html lang="en">
    <head>
      <title>Duyuru Platformu</title>
    </head>
    <body>
      <a href="/" class="btn btn-outline-info btn-icon"><i class="ai-show">Geri</i></a>
      
      <h2 class="h3 mb-sm-4">  <%=not.name %></h2>
            <p class="mb-4 mb-lg-5">  <%=not.context %></p>
              <li class="mb-3">Başlangıç Tarihi:<span class="text-dark fw-semibold ms-2"> <%=not.startDate %></span></li>
              <li class="mb-3">Bitiş Tarihi:<span class="text-dark fw-semibold ms-2"> <%=not.finishDate %></span></li>
    </body>