<%- include('includes/head.ejs') %>
    <main>
        <h1>Sayfa Bulunamıyor</h1>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.wpoven.com%2Fblog%2Fwp-content%2Fuploads%2F2019%2F12%2F404-error-not-found.png&f=1&nofb=1&ipt=0c679184d3b04aa883577d4d74f154a98f1c6f6ec07abf1c21b0d73f8c51f9a6&ipo=images" alt="sayfa yok">
    </main>
<%- include('includes/foot.ejs') %>